.brutus-div {
            font-family: Arial;
            color: gray;
        }
        .brutus-button {
            font-family: Arial;
            color: #ffffff;
            font-size: 35px;
            padding: 10px;
            text-decoration: none;
            -webkit-border-radius: 28px;
            -moz-border-radius: 28px;
            border-radius: 28px;
            -webkit-box-shadow: 0px 1px 3px #666666;
            -moz-box-shadow: 0px 1px 3px #666666;
            box-shadow: 0px 1px 3px #666666;
            text-shadow: 1px 1px 3px #666666;
            border: solid #8405fa 2px;
            background: -webkit-gradient(linear, 0 0, 0 100%, from(#d53ffa), to(#8405fa));
            background: -moz-linear-gradient(top, #d53ffa, #8405fa);
        }

        .brutus-button:hover {
            background: #7920e6;
        }